In [12]:
# Imports
import numpy as np
import pandas as pd

# Reliability Problems

I am struggeling with very poor estimation performance in the case of multiple types, even if all related coefficients are fixed. I am now starting a systematic effort to hunt down the problem.

## Simulation

I will now manually check the simulation of some samples to see if the problem is in the simulation.

In [14]:
data_frame = pd.read_csv('data.respy.dat', delim_whitespace=True, header=0, na_values='.')
data_frame.head()

,Identifier,Period,Choice,Wage,Experience_A,Experience_B,Years_Schooling,Lagged_Schooling,Type,Total_Reward_1,...,Total_Reward_4,Systematic_Reward_1,Systematic_Reward_2,Systematic_Reward_3,Systematic_Reward_4,Shock_Reward_1,Shock_Reward_2,Shock_Reward_3,Shock_Reward_4,Discount_Rate
0,0,0,4,NaN,0,0,8,1,0,46429.953390,...,50631.875000,13548.078390,8433.777056,0.00,17750.0,1.0,1.0,0.0,0.0,0.95
1,0,1,4,NaN,0,0,8,0,0,30410.578390,...,34612.500000,13548.078390,8433.777056,-4000.00,17750.0,1.0,1.0,0.0,0.0,0.95
2,0,2,4,NaN,0,0,8,0,0,13548.078390,...,17750.000000,13548.078390,8433.777056,-4000.00,17750.0,1.0,1.0,0.0,0.0,0.95
3,1,0,1,23482.25,0,0,8,1,1,69120.714552,...,61951.642299,23482.247755,15367.343732,0.65,17750.7,1.0,1.0,0.0,0.0,0.95
4,1,1,1,24257.96,1,0,8,0,1,48040.491365,...,40795.759928,24257.957819,15701.318991,-3999.35,17750.7,1.0,1.0,0.0,0.0,0.95