In [35]:
# Imports
import numpy as np
import pandas as pd

## Simulation

I will now manually check the simulation of some samples to see if the problem is in the simulation.

In [36]:
df = pd.read_csv('data.respy.dat', delim_whitespace=True, header=0, na_values='.')
df.set_index(['Identifier', 'Period'], drop=False, inplace=True)
df.head(3)

                   Identifier  Period  Choice  Wage  Experience_A  \
Identifier Period
0          0                0       0       4   NaN             0
           1                0       1       4   NaN             0
1          0                1       0       4   NaN             0

                   Experience_B  Years_Schooling  Lagged_Activity  Type  \
Identifier Period
0          0                  0               10                1     0
           1                  0               10                0     0
1          0                  0               10                1     0

                   Total_Reward_1      ...        Total_Reward_4  \
Identifier Period                      ...
0          0         30819.867688      ...          36735.390857
           1         14946.064552      ...          20963.643652
1          0         30826.515808      ...          36387.442413

                   Systematic_Reward_1  Systematic_Reward_2  \
Identifier Period
0          0              12456.526732          8690.623806
           1              12581.716907          8777.966027
1          0              12456.526732          8690.623806

                   Systematic_Reward_3  Systematic_Reward_4  Shock_Reward_1  \
Identifier Period
0          0                   14663.0              18242.0        0.896210
           1                   -6835.0              18242.0        1.187919
1          0                   14663.0              18242.0        0.896744

                   Shock_Reward_2  Shock_Reward_3  Shock_Reward_4  \
Identifier Period
0          0             1.382272      741.498503      865.101904
           1             1.022611      -89.401471     2721.643652
1          0             1.332589     -160.879740      517.153460

                   Discount_Rate
Identifier Period
0          0                0.95
           1                0.95
1          0                0.95

[3 rows x 22 columns]

In [37]:
initials = df['Years_Schooling'][:, 0].unique()

for initial in initials:
    cond = df['Years_Schooling'][:, 0] == initial
    print(df['Type'][:, 0].loc[cond].value_counts())

0    27
2    12
1     7
3     6
Name: Type, dtype: int64
0    6
2    3
3    2
1    1
Name: Type, dtype: int64
0    19
2    11
1     4
3     2
Name: Type, dtype: int64

In [38]:
pd.crosstab(df['Years_Schooling'][:, 0], df['Type'][:, 0]normalize='index', dropna=False).as_matrix()

col_0     0     1     2     3   All
row_0
8      0.19  0.04  0.11  0.02  0.36
13     0.06  0.01  0.03  0.02  0.12
10     0.27  0.07  0.12  0.06  0.52
114    0.00  0.00  0.00  0.00  0.00
All    0.52  0.12  0.26  0.10  1.00

In [ ]:
import numpy as np

In [42]:
np.log(2 *0.3)

-0.51082562376599072