In [9]:
# Imports
import numpy as np
import pandas as pd

import os
os.getcwd()

'/home/peisenha/ownCloud/office/workspace/software/repositories/organizations/restudToolbox/package/development/working'

## Simulation

I will now manually check the simulation of some samples to see if the problem is in the simulation.

In [10]:
df = pd.read_csv('data.respy.dat', delim_whitespace=True, header=0, na_values='.')
df.set_index(['Identifier', 'Period'], drop=False, inplace=True)
df.head(3)

                   Identifier  Period  Choice      Wage  Experience_A  \
Identifier Period
0          0                0       0       1  14464.34             0
           1                0       1       1  14276.20             1
           2                0       2       1  14408.48             2

                   Experience_B  Years_Schooling  Lagged_Activity
Identifier Period
0          0                  0                8                1
           1                  0                8                2
           2                  0                8                2

In [15]:
df['Years_Schooling'][:, 0].value_counts()

10    470
8     440
7      90
Name: Years_Schooling, dtype: int64

In [38]:
pd.crosstab(df['Years_Schooling'][:, 0], df['Type'][:, 0]normalize='index', dropna=False).as_matrix()

col_0     0     1     2     3   All
row_0
8      0.19  0.04  0.11  0.02  0.36
13     0.06  0.01  0.03  0.02  0.12
10     0.27  0.07  0.12  0.06  0.52
114    0.00  0.00  0.00  0.00  0.00
All    0.52  0.12  0.26  0.10  1.00

In [ ]:
import numpy as np

In [42]:
np.log(2 *0.3)

-0.51082562376599072

# TYPE SHARE Transformation

In [8]:
def transform_to_logit(shares):
    """ This function transform
    """
    
    num_types = len(shares)
    
    denominator = (1.0 / shares[0])
    
    coeffs = []
    
    for i in range(num_types):
        coeffs += [np.log(shares[i] * denominator)]
    
    
    return coeffs
 
    
shares = [0.5, 0.1, 0.4]
coeffs = transform_to_logit(shares)
    
print(coeffs)

[0.0, -1.6094379124341003, -0.22314355131420971]